.modal-scrollbox {
  width: auto;
  max-height: 75%;
  overflow: auto;
  border: 2px solid black;
}
#modal-canvas-container {
  position: relative;
  min-width: 40vw;
  max-width: 70vw;
}
#modal-canvas-container canvas{
  width: 100%;
  height: 100%;
}
#modal-close {
  width: 60px;
}